#==============================================================================
# ENVIRONMENT CONFIGURATION (TEMPLATE)
#==============================================================================
# Copy this file to '.env' and fill in your local values.
# This file (.env.example) IS committed to version control.
# Your actual '.env' file IS NOT committed (it's ignored).

#------------------------------------------------------------------------------
# ENVIRONMENT STATE
#------------------------------------------------------------------------------
# development, production, test
NODE_ENV=development

#------------------------------------------------------------------------------
# CLIENT (FRONTEND)
#------------------------------------------------------------------------------
# PORT
VITE_CLIENT_PORT=5000

# CLIENT URL
VITE_CLIENT_DEV_BASE_URL=http://localhost:${VITE_CLIENT_PORT}

#------------------------------------------------------------------------------
# SERVER (BACKEND)
#------------------------------------------------------------------------------
# PORT
VITE_SERVER_PORT=3000

# SERVER API URL
VITE_SERVER_DEV_API_URL=http://localhost:${VITE_SERVER_PORT}/api
