#------------------------------------------------------------------------------
# ENVIRONMENT STATE
#------------------------------------------------------------------------------
# development, production, test
NODE_ENV=development

#------------------------------------------------------------------------------
# SERVER (BACKEND)
#------------------------------------------------------------------------------
# PORT
PORT=3000

#------------------------------------------------------------------------------
# CLIENT (FRONTEND)
#------------------------------------------------------------------------------
# CLIENT URL
CLIENT_URL=http://localhost:5000
